:root{
    --white: #ffffff;
    --grey: #616161;
    --AzulOscuro: #0e101a;
    --greylight: #222222;
    --black:black;
    --blue: #02afef;
    --red: #f54747;
    --yellow: #fee066;
    --gren: #93F37C;
    --ssm: 10px;
    --sm: 14px;
    --md: 16px;
    --lg: 28px;
}

.inactive{
   display: none !important; 
}

.blur {
    filter: blur(12px);
}

header{
    position: fixed;
    width: 100vw;
    background-color: var(--black);
    z-index: 9999;
    
}

body {
    background-color: var(--AzulOscuro);
    color: white;
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin: 0;  
    
}
    


/*Estilos de Login*/

.main-container{
    width: 100%;
    height: 100vh;
    display: flex;    
}

.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}



.CrearProyectoContent{
    position: absolute;
    width: 40%;
    display: grid;
    place-items: center;
    justify-content: center;
    border: solid var(--white) 1px;
    border-radius: 32px;
    background-color:var(--black);
    z-index: 999999;
}

.cerrarCrearProyecto{
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    background-color: var(--blue);
    width: 32px;
    height: 32px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    cursor: pointer;
}

.cerrarCrearProyecto img{
    width: 14px;
}



.form-container{
    
    padding: 40px;
    border-radius: 32px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 160%;
}

.Logo{
    width: 48%;
    margin-bottom: 40px;
    justify-self: center;
   
}

.title{
    font-size: var(--lg);
    margin-bottom: 14px;
    text-align: center;
    font-weight: 700;
}

.title-menu-mobil{
    font-size: var(--lg);
    margin-bottom: 14px;
    font-weight: 700;
}

.title-miCuenta{
    font-size: var(--lg);
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
}

.Text-Resaltado{
    font-weight: 600;
}

.subtitle{
    font-size: var(--md);
    color: var(--blue);
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

.form{
    display: flex;
    flex-direction: column;
}

.label{
    font-size: var(--sm);
    margin-bottom: 4px;
}

.input{
    background-color: var(--black);
    color: var(--white);
    border: solid var(--white) 1px;
    border-radius: 32px;
    height: 32px;
    font-size: var(--md);
    padding: 8px;
    margin-bottom: 12px;
}

.button-primary{
    background-color: var(--blue);
    color: var(--white);
    font-size: var(--md);
    font-weight: 700;
    height: 48px;
    border: none;
    border-radius: 32px;
    padding: 8px;
    cursor: pointer;
}

.login-button{
    margin-bottom: 32px;
    margin-top: 16px;
}

.email-image{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--white);
    justify-content: center;
    align-items: center;
}

.IconoEmail{
    width: 100px;
    height: 100px;
    margin-bottom: 40px; 
}

.Reenviar{
    font-size: var(--sm);
    text-align: center;
}

.Reenviar span{
    color: var(--grey);
}

.Reenviar a{
    color: var(--blue);
    text-decoration: none;
}

.Secondary-button{
    background-color: var(--black);
    color: var(--white);
    font-size: var(--md);
    font-weight: 700;
    height: 48px;
    border: solid var(--white) 1px;
    border-radius: 32px;
    padding: 8px;
    cursor: pointer;
}

.Secondary-button:hover{ 
    border: solid var(--blue) 1px;
    color: var(--blue);
}

.input-name,
.input-email,
.input-password,
.input-tipo{
    margin-bottom: 22px;
}

.input-tipo{
    height: 48px;
}

.input-date[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    border-radius: 50%;
    padding: 4px;
  }


.desktop-menu{
    position: absolute;
    background-color: var(--black);
    top: 100px;
    right: 50px;
    width: 200px;
    height: auto;
    border: solid var(--white) 1px;
    padding: 20px 20px 0 20px;
    border-radius: 32px;
    z-index: 999999999;
}

.desktop-menu ul li:nth-child(1) p, .Proyect-menu ul li:nth-child(1) a{
    margin-bottom:0px !important;
    font-weight: 700;
    font-size: 22px;
    margin-top: 0px;
}

.desktop-menu ul li:nth-child(2) p{
    font-size: 12px;
    margin-bottom: 0px !important;
    color: var(--blue);
    margin-top: 0px;
}

.Proyect-menu ul li:nth-child(2) a{
    font-size: 12px;
    color: var(--blue);
    margin-bottom: 8px !important;
}

.desktop-menu ul li:nth-child(3) p{
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.Proyect-menu ul li:nth-child(3) a{
    font-size: 12px;
  
}

.desktop-menu ul li:nth-child(4) p{
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.desktop-menu ul li:nth-child(5) a{
    font-size: 12px;
}

.navbar-miCuenta{
    cursor: pointer;
}

.desktop-menu ul, .Proyect-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li, .Proyect-menu ul li{
    text-align: end;
    
}

.desktop-menu ul li:last-child{
    color: var(--white);
    padding-top: 20px;
    border-top: solid var(--grey) 1px;
}

.Proyect-menu ul li:last-child{
    color: var(--white); 
}

.desktop-menu ul li .title-cerrar-sesion, .Proyect-menu ul li .title-cerrar-sesion{
    color: var(--blue);
    text-decoration: none;
    font-size: var(--sm);
}

.desktop-menu ul li a, .Proyect-menu ul li a{
    color: var(--white);
    text-decoration: none;
    font-size: var(--md);
    display: inline-block;
    margin-bottom: 20px;
    
}

.desktop-menu ul li p{
    color: var(--white);
    text-decoration: none;
    font-size: var(--md);
    display: inline-block;
    margin-bottom: 20px;
    
}


.desktop-mobil{
    position: absolute;
    top: 100px;
    left: 0;
    width: 250px;
    height: 100vh;
    padding: 20px 20px 0 20px;
    border-right: solid var(--white) 1px;
    background-color: var(--black);
    
}

.desktop-mobil ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-mobil ul li{
    text-align: ;
   
    
}

.desktop-mobil ul li .title-mi-cuenta{
    color: var(--white);
   
    
    width: 100%;
   
    
}

.desktop-mobil ul li .title-cerrar-sesion{
    color: var(--blue);
    text-decoration: none;
    font-size: var(--md);
}

.desktop-mobil ul li a{
    color: var(--white);
    text-decoration: none;
    font-size: var(--md);
    display: inline-block;
    margin-bottom: 20px;
    
}

.desktop-mobil .title-categories{
    font-weight: 200;
}


.cerrar-sesion-mobil{
    position: relative;
    top:50vh;
    font-size: var(--sm);

}

.cerrar-sesion-mobil span{
    color: var(--grey);
}

.cerrar-sesion-mobil a{
    color: var(--blue);
    text-decoration: none;
    
}




.mis-notificaciones{
    width: 30%;
    height: auto;
    display: grid;
    place-items: center;
    position: absolute;
    right: 200px;
    top: 100px;
    background-color: var(--black);
    border: solid var(--white) 1px;
    border-radius: 32px;
}

.notificacion-title h1, .notificacion-title p{
    margin-right: 24px;
}

.VerNotificiaciones{
    padding: 12px;
    text-align: center;
    margin-bottom: 32px;
}

.VerNotificiaciones button{
    width: 100%;
}

.card-notificaciones{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    border: solid var(--grey) 4px;
    margin: 16px;
    padding: 12px;
    border-radius: 32px;
    align-items: center;
}

.card-notificaciones figure img{
    width: 80px;
    border-radius: 100%;
}

.card-notificaciones figure{
    margin: 0;
}

.card-notificaciones p:nth-child(2){
    font-weight: 200;
    font-size: var(--md);
}



.notificacion-title h1{
    text-align: right;
    margin-bottom: 0;
    color: var(--blue);
    font-size: var(--md);
    margin-top: 32px;
}

.notificacion-title p{
    text-align: right;
    margin-top: 0;
    margin-bottom: 20px;
}

.card-notificaciones p a{
    color: var(--blue);
    text-decoration: none;
    font-size: var(--md);
    font-weight: 700;
}

.mis-notificaciones-content{
    width: 100%;
    margin-bottom: 28px;
}

.Mi-escritorio{
    display: flex;
    width: 100%;
    margin-top: 100px;
    
}

.img-mi-cuenta{
    width: 100px;
    border-radius: 100%;
    justify-self: center;
}

.mis-proyectos{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    align-items: start;
   
   
}

.mis-proyectos-content{
    width: 95vw;
    margin-bottom: 72px;  
}

.card-proyectos{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto auto;
    gap: 16px;
    border: solid var(--grey) 2px;
    margin: 16px;
    padding: 12px;
    border-radius: 32px;
    align-items: center;
    

}

.card-proyectos figure img{
    width: 40px;
    border-radius: 100%;
    margin-top: 5px;
}

.card-proyectos figure{
    margin: 0;
}

.card-proyectos p:nth-child(2){
    font-weight: 200;
    font-size: var(--md);
}

.card-proyectos p a{
    color: var(--white);
    text-decoration: none;
    font-size: var(--md);
    font-weight: 600;
    display: inline-block;
    margin-top: 5px;
}

.proyecto-amarillo{
    border: solid var(--yellow) 4px;
}

.proyecto-rojo{
    border: solid var(--red) 4px;
}

.proyecto-verde{
    border: solid var(--gren) 4px;
}

.icono-option{
    height: 20px;
    cursor: pointer;
}


nav{  
    display: flex;
    justify-content: space-between;
    padding: 0 48px ;
    height: 100px;  
}

.navbar-left{
    display: flex;
    align-items: center;
}

.navbar-left ul li a, .navbar-right ul li a{
   text-decoration: none;
   color: var(--white);
   border: solid var(--white) 1px;
   border-radius: 32px;
   padding: 8px 16px;
   font-weight: 200;
   margin: 2px 4px;
}

.navbar-left ul li a:hover, .navbar-right ul li a:hover{
    color: var(--blue);
    border: solid var(--blue) 1px;  
 }

.menu{
    display: none;
}

.logoMenu{
    height: 80px;
    margin-right: 32px;
    
    justify-content: center;
    align-items: center;
  
}

.IconoMenuMobil{
    height: 30px;
    margin-right: 32px;
    display: none;
    cursor: pointer;
}

.navbar-left ul, .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100px;
    
}

.navbar-email{
    color: var(--blue);
    font-size: var(--sm);
    margin-right: 32px;
}

.navbar-miCuenta{
    color: var(--white);
    font-size: var(--sm);
    margin-right: 16px;
}

.NotificacionesIcono{
    width: 25px;
    position: relative;
    margin-right: 32px;
    cursor: pointer;
    
}

.fotoIconoCuenta{
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.fotoIconoCuenta img{
    width: 50px;
   border-radius: 100%;
}

.NotificacionesIcono div{
    width: 16px;
    height: 16px;
    background-color: var(--blue);
    border-radius: 100%;
    font-size: var(--sm);
    position: absolute;
    top: -8px;
    right: -4px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.AddProyect p{
    display: flex;
    font-size: var(--lg);
    align-items: center;
    text-align: center;
}

.AddProyect{
    display: flex; 
    align-items: center;
    justify-content: center;
}

.add-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
 
}

.add-content img{
    width: 26px;
}

.contentAddProyect a{
    text-decoration: none;
    color: var(--white);
}

.contentAddProyect{
    display: flex;
    background-color: var(--blue);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    cursor: pointer;
}

.contentAtras{
    display: flex;
    background-color: var(--black);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    border: solid var(--white) 1px;
   
}

.contentAtras a{
    text-decoration: none;
    color: var(--white);
}

.contentFilter{
    display: flex;
    background-color: var(--black);
    height: 40px;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    border: solid var(--white) 1px;
    padding: 0 16px;
    margin-left: 16px;
}

.contentFilter a{
    text-decoration: none;
    color: var(--white);
   
}

.contentFilter a p{
    font-size: var(--sm);
}

.contentArchive a{
    display: flex;
    width: 20px;
    height: 20px;
    
}

.contentArchive{
    display: flex;
    border: solid var(--white) 1px;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
  
}



.icono-option{
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.contentSemaforoRojo{
    display: flex;
    background-color: var(--red);
    width: 24px;
    height: 24px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.contentSemaforoAmarillo{
    display: flex;
    background-color: var(--yellow);
    width: 24px;
    height: 24px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.contentSemaforoVerde{
    display: flex;
    background-color: var(--gren);
    width: 24px;
    height: 24px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.opacity{
    opacity: 0.1;
}

.EtiquetaProyectos{
    display: flex;
    background-color: var(--black);
    height: 26px;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    border: solid var(--white) 1px;
    padding: 0 16px;
    margin-left: 10px;
}
.EtiquetaProyectos a{
    text-decoration: none;
    color: var(--white);
    font-size: var(--ssm);
   
}

.contentEtiquetas{
    display: flex;
    
}

.Proyect-menu{
    position: absolute;
    background-color: var(--black);
    top: 60px;
    right: 20px;
    width: 100px;
    height: auto;
    border: solid var(--white) 1px;
    padding: 20px 20px 0 20px;
    border-radius: 32px;
    z-index: 99999;
}

.card-proyectos{
   position: relative; 
}



@media (max-width: 860px)  {

    .MenuEscritorioPrincipal{
        display: none !important;
    }

    .IconoMenuMobil{
        display: block;
    }

    .mis-notificaciones{
        width: 92%;
        right: 36px;
    }

    .contenedorDeNotifiaciones{
        padding: 0px 40px;
    }

    .CrearProyectoContent{
        width: 70%;
    }

}

@media (min-width: 860px)  {

    .desktop-mobil{
        display: none;
    }
}












h3{
    font-weight: 400;
    text-align: right;
    margin-right: 15px;
    font-size: var(--sm);
}

footer{
    background-color: #02afef;
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
}