:root{
    --white: #ffffff;
    --grey: #616161;
    --black:black;
    --blue: #02afef;
    --red: #f54747;
    --yellow: #FEE066;
    --gren: #93F37C;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    background-color: black;
    color: white;
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*Estilos de Login*/

.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    
    
}

.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    
}

.form-container{
    background-color: ;
    padding: 40px;
    border-radius: 32px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 380px;
}

.Logo{
    width: 48%;
    margin-bottom: 40px;
    justify-self: center;
}

.title{
    font-size: var(--lg);
    margin-bottom: 14px;
    text-align: center;
    font-weight: 700;
}

.subtitle{
    font-size: var(--md);
    color: var(--blue);
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

.form{
    display: flex;
    flex-direction: column;
}

.label{
    font-size: var(--sm);
    margin-bottom: 4px;
}

.input{
    background-color: var(--black);
    color: var(--white);
    border: solid var(--white) 1px;
    border-radius: 32px;
    height: 32px;
    font-size: var(--md);
    padding: 8px;
    margin-bottom: 12px;
}

.button-primary{
    background-color: var(--blue);
    color: var(--white);
    font-size: var(--md);
    font-weight: 700;
    height: 48px;
    border: none;
    border-radius: 32px;
    padding: 8px;
    cursor: pointer;
}

.login-button{
    margin-bottom: 32px;
    margin-top: 16px;
}

.email-image{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--white);
    justify-content: center;
    align-items: center;
}

.IconoEmail{
    width: 100px;
    height: 100px;
    margin-bottom: 40px; 
}

.Reenviar{
    font-size: var(--sm);
    text-align: center;
}

.Reenviar span{
    color: var(--grey);
}

.Reenviar a{
    color: var(--blue);
    text-decoration: none;
}

.Secondary-button{
    background-color: var(--black);
    color: var(--white);
    font-size: var(--md);
    font-weight: 700;
    height: 48px;
    border: solid var(--white) 1px;
    border-radius: 32px;
    padding: 8px;
    cursor: pointer;
}

.input-name,
.input-email,
.input-password{
    margin-bottom: 22px;
}



@media (max-w){

}





.BarraHerramientas{
    background-color: rgb(43, 43, 43);
    width: 20%;
    height: 100vh;
    padding: 10px 20px;
}

h1 {
    font-size: 1.3vw;
    font-weight: 200;
}

h3{
    font-weight: 400;
    text-align: right;
    margin-right: 15px;
    font-size: 14px;
}

footer{
    background-color: #02afef;
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    
}